.heroSection {
    height: 80vh;
    width: 100%;
    overflow: hidden;
}

.heroImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.04);
    opacity: 0;
    transition: 1.2s ease, opacity .9s ease;
}

.heroImageEnter {
    opacity: 1;
    transform: scale(1);
}
