.card {
    
    width: 100%;
    position: relative;
    aspect-ratio: 1 / 1; /* keep square */
    overflow: hidden;
    border-radius: 0px;
    box-shadow: 6px 6px 18px rgba(0,0,0,0.12);
    background: #f2f2f2;
    
}

.imageWrap {
    position: relative;
    width: 100%;
    height: 100%;
}

.caption {
    margin-top: 8px;
    text-align: center;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #333;
}
