/* Reset / Base Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");

body {
    font-family: "Raleway", sans-serif;
    background-color: #ffffff;
    color: #333;
}


/* Helvetica Black */
@font-face {
    font-family: "HelveticaBlack";
    src: url("/fonts/graphic-black.woff2") format("woff2"), url("/fonts/graphic-black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

/* Graphik Regular Trial */
@font-face {
    font-family: "Graphik-Regular-Trial";
    src: url("/fonts/Graphik-Regular-Trial.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}




.whatsapp-float {
    position: fixed;
    bottom: 24px;
    right: 24px;
    width: 58px;
    height: 58px;
    background: #25D366;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 8px 18px rgba(0,0,0,0.25);
    z-index: 9999;
    transition: all 0.25s ease;
}

    .whatsapp-float:hover {
        transform: scale(1.1);
    }

@media (max-width:768px) {
    .whatsapp-float {
        width: 52px;
        height: 52px;
        bottom: 18px;
        right: 18px;
    }
}