/* Reset / Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");

body {
    font-family: "Raleway", sans-serif;
    background-color: #ffffff;
    color: #333;
}


/* Helvetica Black */
@font-face {
    font-family: "HelveticaBlack";
    src: url("/fonts/graphic-black.woff2") format("woff2"), url("/fonts/graphic-black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

/* Graphik Regular Trial */
@font-face {
    font-family: "Graphik-Regular-Trial";
    src: url("/fonts/Graphik-Regular-Trial.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
