/* Reset / Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");

body {
    font-family: "Raleway", sans-serif;
    background-color: #ffffff;
    color: #333;
}


